<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <style type="text/css">
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>默认进入index.ejs, 如果没有这个ejs的话, 会进入404<p>
  </body>
</html>
